<div class="flex-container">
  <app-s6o4o18-CatTable (selectedTablesChange)="selectedTables = $event"></app-s6o4o18-CatTable>

  <div class="container" draggable="true" (dragstart)="TS_dragStart($event)" (dragend)="TS_dragEnd($event)">
    <div *ngIf="selectedTables?.length; else noTables">
      <div class="table-rectangles">
        <!-- Loop over selected tables to display table names -->
        <div *ngFor="let table of selectedTables">
          <div class="table-name rectangle" [class.selected]="selectedTableName === table">
            {{ table}}
          </div>
          <div *ngIf="selectedTableName === table.name" class="fields-container">
            <!-- Display fields for the selected table -->
            <div *ngFor="let field of fieldsByTableId[table.id]" class="field-rectangle">
              <label>{{ field.name }}</label>
              <!-- Show disabled checkbox indicating field is part of this table -->
              <input type="checkbox" [checked]="TS_isFieldSelected(field, table)" disabled />
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noTables>
      <p>No selected tables. Please select a table from the list.</p>
    </ng-template>
  </div>
  <app-s6o4o13-dataTwoTables [selectedFieldsByTableId]="selectedFieldsByTableId" [selectedTableName]="selectedTableName"></app-s6o4o13-dataTwoTables>
</div>
