<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<div [@openClose]="isOpen ? 'open' : 'closed'" class="sidebar">
  <button (click)="TS_ToggleSidebar()" class="toggle-button">
    <i class="fa" [class]="isOpen ? 'fa-angle-left' : 'fa-angle-right'"></i>
  </button>
  <!-- Website name toggling -->
  <div class="website-name">
    <span *ngIf="isOpen" routerLink="/">CleverFlow</span>
    <span *ngIf="!isOpen" routerLink="/">CF</span>
  </div>
  <ul>
    <!-- gestion database -->
    <li *ngIf="isOpen" (mouseenter)="hover=true" (mouseleave)="hover=false" [ngClass]="{'hover': hover}" routerLink="/GestionDB">
      <i class="fa fa-database icon"></i> Gestion Database
    </li>
    <li *ngIf="!isOpen" routerLink="/GestionDB">
      <i class="fa fa-database icon"></i>
      <span class="icon-label">Database</span>
    </li>
    <!-- gestion rapports -->
    <li *ngIf="isOpen" (mouseenter)="hover=true" (mouseleave)="hover=false" [ngClass]="{'hover': hover}" routerLink="/GestionRapports">
      <i class="fa fa-file-text icon"></i> Gestion Rapports
    </li>
    <li *ngIf="!isOpen" routerLink="/GestionRapports">
      <i class="fa fa-file-text icon"></i>
      <span class="icon-label">Rapports</span>
    </li>
    <!-- gestion access -->
    <li *ngIf="isOpen " (mouseenter)="hover=true" (mouseleave)="hover=false" [ngClass]="{'hover': hover}" routerLink="/GestionAccess">
      <i class="fa fa-users icon"></i> Gestion Access
    </li>
    <li *ngIf="!isOpen " routerLink="/GestionAccess">
      <i class="fa fa-users icon"></i>
      <span class="icon-label">Access</span>
    </li>

  </ul>
</div>
