.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  width: 100%;
}

.input-container {
  display: flex;
  justify-content: center; /* Center the input elements horizontally */
  flex-wrap: wrap; /* Allow elements to wrap */
  width: 100%; /* Take full width to utilize the space */
  margin-bottom: 10px; /* Space between input container and button */
}

.value-rectangle, .file-input, .select-input {
  width: 300px;
  height: 40px;
  padding: 5px 10px;
  margin: 6px;
  border: 2px solid hsl(220, 100%, 19%);
  border-radius: 15px;
  background-color: #ffffff;
  font-weight: bold;
  color: hsl(220, 100%, 19%);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.select-input {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path fill="%23002060" d="M2048 640v128h-2048v-128h2048zm0 1024v128h-2048v-128h2048z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}



.button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #002060;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #000f20;
}
.column-preview {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0; /* Light gray background for the preview */
  border: 1px solid #d0d0d0; /* Light gray border */
  border-radius: 5px;
}

.column-preview h3 {
  margin: 0 0 10px 0;
}

.column-preview ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.column-preview ul li {
  background-color: #ffffff; /* White background for each preview item */
  border: 1px solid #d0d0d0; /* Light gray border */
  border-radius: 5px;
  margin-bottom: 5px; /* Spacing between preview items */
  padding: 5px;
}
.dialog-header {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  padding: 10px; /* Add some padding */
}

.close-button {
  color: rgb(198, 0, 0); /* White icon color */
  cursor: pointer;
}

