<div class="flex-container">
  <div class="container" draggable="true" (dragstart)="TS_DragStart($event)" (dragend)="TS_DragEnd($event)">
    <div *ngIf="tables.length; else noTables">
      <ul>
        <li *ngFor="let table of tables" class="table-name" (click)="TS_SelectTable(table)" [class.selected]="selectedTable === table">
          <div class="name-and-buttons">
            <span class="table-name-text">{{ table.name }}</span>
            <div class="action-buttons" *ngIf="showManagementButtons">
              <button type="button" class="btn btn-danger btn-sm" (click)="TS_EditTable(table.id, table.name); $event.stopPropagation();">
                <img src="assets/pen.png" alt="Edit" draggable="false" style="width: 20px; height: 20px;">
              </button>
              <button type="button" class="btn btn-danger btn-sm" (click)="TS_DeleteTable(table.id); $event.stopPropagation();">
                <img src="assets/delete.png" alt="Delete" draggable="false" style="width: 20px; height: 20px;">
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- Gestion div that acts like a button -->
    <div class="gestion-button" (click)="TS_ToggleManagementButtons()">Gestion</div>

    <!-- Toggle button for showing/hiding the create form -->
    <div class="toggle-button-container" *ngIf="showManagementButtons && !isEditing">
      <button type="button" class="btn btn-create" (click)="showCreateForm = !showCreateForm">
        <img [src]="showCreateForm ? 'assets/delete (1).png' : 'assets/add (1).png'" alt="{{ showCreateForm ? 'Collapse' : 'Expand' }}" draggable="false">
      </button>
    </div>

    <!-- Form for creating or editing a table -->
    <form [formGroup]="tableForm" *ngIf="(showCreateForm || isEditing) && showManagementButtons">
      <div class="form-group">
        <div class="input-group">
          <input type="text" id="tableName" formControlName="name" class="form-control" placeholder="Enter table name">
          <!-- Button to create a new table -->
          <button type="button" (click)="TS_SubmitForm()" *ngIf="!isEditing" class="btn btn-primary">
            <img src="assets/check.png" alt="Create" draggable="false" class="btn-icon">
          </button>
          <!-- Save and Cancel buttons for editing -->
          <div *ngIf="isEditing" class="edit-buttons">
            <button type="button" (click)="TS_SubmitForm()" class="btn btn-success">
              <img src="assets/save.png" alt="Save" draggable="false" class="btn-icon">
            </button>
            <button type="button" (click)="TS_CancelEdit()" class="btn btn-danger">
              <img src="assets/close.png" alt="Cancel" draggable="false" class="btn-icon">
            </button>
          </div>
        </div>
      </div>
    </form>

    <ng-template #noTables>
      <p>No tables found.</p>
    </ng-template>
  </div>
  <div class="container larger-container" draggable="true" (dragstart)="TS_DragStart($event)" (dragend)="TS_DragEnd($event)">
    <app-s6o4o6-tab *ngIf="showS6o4o6Tab" [selectedTable]="selectedTable"></app-s6o4o6-tab>
  </div>
</div>
