<div class="flex-container">
  <div class="container">
    <div class="rectangle">{{ selectedTable?.name }}</div>

    <div class="table-wrapper">
      <!-- Fields Column -->
      <div class="fields-column">
        <div *ngFor="let field of TS_getDisplayedFields()" class="rectangle-detail">
          {{ field.name }}
        </div>
      </div>

      <!-- Data Column -->
      <div class="data-column">
        <div *ngFor="let dataSet of TS_currentDataSets(); let i = index" class="data-row">
          <div *ngFor="let field of fields" class="rectangle-detail">
            <span *ngIf="dataSet.id !== currentEditId; else editData">
              {{ dataSet.details[field.name] }}
            </span>
            <ng-template #editData>
              <input type="text" placeholder="{{ field.name }} Data" [formControlName]="field.name">
            </ng-template>
          </div>
<!-- Edit and Delete Buttons for the row -->
<div class="action-buttons">
  <button *ngIf="dataSet.id !== currentEditId" class="edit-btn" (click)="TS_editRow(dataSet)">
    <img src="assets/pen.png" alt="Edit" class="edit-icon">
  </button>
  <button *ngIf="dataSet.id === currentEditId" class="submit-edit-btn" (click)="TS_onSubmitEdit()">
    Submit
  </button>
  <button *ngIf="dataSet.id === currentEditId" class="cancel-edit-btn" (click)="currentEditId = null">
    Cancel
  </button>
  <button class="delete-btn" (click)="TS_deleteRow(dataSet.id)">
    <img src="assets/delete.png" alt="Delete" class="delete-icon">
  </button>
</div>
        </div>
      </div>
    </div>

    <div class="arrows">
      <div *ngIf="currentPage > 1; else disabledLeftArrow" (click)="TS_previousPage()" class="arrow">
        <i class='fa fa-arrow-left' style='font-size:15px'></i>
      </div>
      <ng-template #disabledLeftArrow>
        <div class="arrow disabled">
          <i class='fa fa-arrow-left' style='font-size:15px'></i>
        </div>
      </ng-template>

      <div *ngIf="currentPage < totalPages; else disabledRightArrow" (click)="TS_nextPage()" class="arrow">
        <i class='fa fa-arrow-right' style='font-size:15px'></i>
      </div>
      <ng-template #disabledRightArrow>
        <div class="arrow disabled">
          <i class='fa fa-arrow-right' style='font-size:15px'></i>
        </div>
      </ng-template>
    </div>


  </div>
</div>
