<div class="from-our-db-dialog">
  <h2>Select Data for List</h2>

  <!-- Category Selection -->
  <div class="form-group">
    <label for="category-select">Select Category:</label>
    <select id="category-select" [(ngModel)]="selectedCategory" (change)="TS_onCategorySelected()" class="form-control">
      <option *ngFor="let category of categories" [ngValue]="category">
        {{ category.name }}
      </option>
    </select>
  </div>

  <!-- Table Selection -->
  <div class="form-group" *ngIf="tables && tables.length > 0">
    <label for="table-select">Select Table:</label>
    <select id="table-select" [(ngModel)]="selectedTable" (change)="TS_onTableSelected()" class="form-control">
      <option *ngFor="let table of tables" [ngValue]="table">
        {{ table.name }}
      </option>
    </select>
  </div>

  <!-- Field Selection -->
  <div class="form-group" *ngIf="fields && fields.length > 0">
    <label for="field-select">Select Field:</label>
    <select id="field-select" [(ngModel)]="selectedField" (change)="TS_onFieldSelected()" class="form-control">
      <option *ngFor="let field of fields" [ngValue]="field">
        {{ field.name }}
      </option>
    </select>
  </div>
<!-- Related Fields Selection -->
<!-- <div class="form-group" *ngIf="relatedFields && relatedFields.length > 0">
  <label for="related-field-select">Select Related Field:</label>
  <select id="related-field-select" [(ngModel)]="selectedRelatedField" (change)="onRelatedFieldSelected()" class="form-control">
    <option *ngFor="let field of relatedFields" [ngValue]="field">
      {{ field.name }}
    </option>
  </select>
</div> -->

  <div class="dialog-actions">
    <button type="button" mat-button (click)="TS_closeDialog()">Close</button>
  </div>
</div>
